/*---------------------------Index.html---------------------------*/
#titleBar{
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

#profile{
    float:right;
}

#page{
    margin-top: 0;
    padding-top: 0;
    height:100%;
}

h1{
    vertical-align: middle;
}

h2{
    font-size: 35pt;
    text-align: center;

}
#circleName{
    text-align: center;
}

ul{
    height: 100%;
    border-right: 1px solid black;
}

li{
    border-bottom: 1px solid black;
}

#pc{
    margin: auto;
    width: 50%;
    padding: 10px;
}

#pcBig{
    height: 300px;
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#pcMed{
    height:150px;
    width:120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pcSmall{
    height:110px;
    width:80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#datePicker{
    width:175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:70px;
}


.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#graph{
    text-align: center;
}
#canvas{
    margin-left: 20%;
    margin-right: 20%;
}
#canvasTeamGraph{
  margin-left: 3%;
}

#footer {
  height: 5rem;
}

/*--------------------------END Index.html--------------------------*/

/* ------------------------School/Sport info page ------------------*/
#soccerButt > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
#soccerButt > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
    width: 175px;
}
#soccerButt > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #f00;
}

/*------------------ END School/Sport info page ----------------------*/

/* finishScreen */
/*button for finish page*/
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    font-size: 24px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button4:hover {background-color: #e7e7e7;}
/*-----------------------end button for finish page-------------------------*/

#screen{
    text-align: center;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#code{
    font-size: 42px;
}
/* -----------------------------END finishScreen ----------------------------------*/

/*-----------------------loader-------------------------*/

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
 border-top: 16px solid blue;
 border-bottom: 16px solid blue;
}

/*-----------------------end loader-------------------------*/

/*-------------------------Team Wellness----------------------*/
#playerMetrics{
    text-align: center;
    float: left;
}

/*----------------settings---------------*/
.jumbotron{
    width: 60%;
    float: none;
    margin: 0 auto;
}

.settingsItems{
    text-align: center;
}

#currentSeasonsCodeField{
  font-weight: bold;
}
/*----------------end settings---------------*/

/*----------------schedular---------------*/
.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 60px;
  background: #dddddd;
  height: 80px;
  width: 80px;
  margin-right: 5px;
  line-height: 80px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}

/*------------------Player Wellness ------------------------*/

.playerWellnessButton, .teamWellnessButton {
  padding: 1%;
  margin-bottom: 2%;
}
.playerWellnessButton:active, .teamWellnessButton:active {
  background: darkgray;
}

.selectedDateRangeButton {
  background: darkgray;
}

.ratioDisplay{
    margin: auto;
    display: inline-block;
    text-align:right;
    vertical-align: middle;
}
